{% extends "include/base.html" %}
{% block title %}Избранные авторы{% endblock %}
{% block header %}Избранные авторы{% endblock %}
{% block content %}
    <!-- Вывод ленты записей -->
    <div class='container'>
        {% include 'include/menu.html' with follow=True %}
        {% for post in page %}
            {% include 'posts/include/post_item.html' with post=post %}
        {% endfor %}
    </div>

    <!-- Вывод паджинатора -->
    {% if page.has_other_pages %}
        {% include "include/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}